*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --hue-neutral: white;
    --hue-wrong: green;
    --hue-correct: red;
}
body{
    
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkgray;

}

h1{
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 200%;
    top: 15%;
}


body.correct{
    color: rgb(37, 179, 37);
}

body.wrong{
    color: red;
}
nav a{
    text-decoration: none;
    border-bottom: 5px solid blue;
    padding: 4px;
}
.card{
    display: flex;
    color: rgba(66, 47, 236, 0.989);
    position: absolute;
    font-size: 150%;
    padding: 10px;
    background-image: linear-gradient(
    rgba(150,98,32) 0%,
    rgba(250, 99, 30) 100%);
    border-radius: 25px;
    bottom: 25%;
    left: 45%;
    
    
    
    
}


.container{
    width: 800px;
    max-width: 80%;
    background-image: linear-gradient(
        rgba(150,98,32) 0%,
        rgba(250, 99, 30) 100%);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
.btn{
    --hue: var(--hue-neutral);
    border: 1px solid black;
    background-image: linear-gradient(
        rgba(135, 39, 226) 0%,
        rgba(93, 24, 158 ) 100%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: black;
}

.btn.correct{
    color: rgb(55, 243, 55);
}

.btn.wrong{
    color: red;
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}